In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\AfterClass Learning\Python-Pandas\Data\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [13]:
# for grouping the base flavour is perfect.
group_by_frame = df.groupby('Base Flavor')

In [29]:
group_by_frame[['Flavor Rating','Texture Rating','Total Rating']].mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [27]:
numeric_columns = group_by_frame.select_dtypes(include=['float64', 'int64']).columns
group_by_frame[numeric_columns].mean()

AttributeError: 'DataFrameGroupBy' object has no attribute 'select_dtypes'

In [33]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [35]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [37]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [39]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [41]:
group_by_frame[['Flavor Rating','Texture Rating','Total Rating']].sum()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [45]:
df.groupby('Base Flavor').agg({'Flavor Rating' : ['mean','max','count','sum'],'Texture Rating' : ['mean','max','count','sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

In [47]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [57]:
df_group = df.groupby(['Base Flavor','Liked'])

In [59]:
df_group[['Flavor Rating','Texture Rating','Total Rating']].mean()

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [61]:
df_group[['Flavor Rating','Texture Rating','Total Rating']].agg({'Flavor Rating' : ['mean','max','count','sum'],'Texture Rating' : ['mean','max','count','sum']})

                  Flavor Rating                   Texture Rating             \
                           mean   max count   sum           mean  max count
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2       7.233333  7.6     3
Vanilla     No              3.6   4.7     3  10.8       4.466667  5.0     3
            Yes             7.8  10.0     3  23.4       6.833333  8.0     3


                    sum
Base Flavor Liked
Chocolate   Yes    21.7
Vanilla     No     13.4
            Yes    20.5

In [67]:
df.groupby('Base Flavour').describe()

KeyError: 'Base Flavour'